<div class="game-board-wrapper">
  <canvas #gameboard></canvas>

  <br />

  <button mat-raised-button
          color="primary">
    Play
    <mat-icon aria-hidden="false"
              aria-label="Play"
              fontIcon="play_arrow">
    </mat-icon>
  </button>
  <button mat-raised-button
          color="primary">
    Pause
    <mat-icon aria-hidden="false"
              aria-label="Play"
              fontIcon="pause">
    </mat-icon>
  </button>
  <button mat-raised-button
          color="warn">
    Reset
    <mat-icon aria-hidden="false"
              aria-label="Play"
              fontIcon="undo">
    </mat-icon>
  </button>
</div>
