<div class="game-board-wrapper">
  <canvas #gameboard></canvas>

  <br />

  <button mat-raised-button
          color="primary"
          (click)="playGame()"
          [disabled]="isGamePlaying">
    Play
    <mat-icon aria-hidden="false"
              aria-label="Play"
              fontIcon="play_arrow">
    </mat-icon>
  </button>
  <button mat-raised-button
          color="primary"
          [disabled]="!isGamePlaying">
    Pause
    <mat-icon aria-hidden="false"
              aria-label="Play"
              fontIcon="pause">
    </mat-icon>
  </button>
  <button mat-raised-button
          color="warn"
          (click)="resetGame()">
    Reset
    <mat-icon aria-hidden="false"
              aria-label="Play"
              fontIcon="undo">
    </mat-icon>
  </button>
</div>
